* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 50px !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

h2 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.card {
  border-radius: 20px !important;
  width: auto !important;
  transition: 2s ease-in-out !important;
}

.imgSize {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 50px;

  img {
    border-radius: 20px !important;
  }
}

.img-fluid {
  position: relative;
}


.overlay-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 3rem;
  padding: 10px;
  font-weight: bolder;
}


.inputNumber {
  width: 30px;
  border-radius: 5px;
  border: 1px solid rgb(200, 195, 195);
}
.btnNumber {
  width: 25px;         /* Tamaño del botón */
  height: 25px;        /* Tamaño del botón */
  border-radius: 50%;  /* Hacer el botón completamente redondo */
  padding: 0;          /* Eliminar cualquier relleno para mantener el tamaño */
  font-size: 14px;     /* Ajustar el tamaño de fuente si es necesario */
  display: flex;       /* Asegurarse de que el contenido (como texto) esté centrado */
  align-items: center; /* Centrar contenido verticalmente */
  justify-content: center; /* Centrar contenido horizontalmente */
  color: grey;
  border: 1px solid rgb(200, 195, 195);

}


/* Eliminar las flechas en navegadores basados en WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Eliminar las flechas en Firefox */
input[type="number"] {
  appearance: textfield;
}